.footer {
  background-color: #0a2850;
  height: 50vh;
  box-sizing: border-box;
  overflow: hidden;
  color: #fff;
}

.footer__container {
  margin: 60px 80px 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.footer__circle {
  border-radius: 100%;
  background-color: #2f80ed;
  width: 340px;
  height: 340px;
  position: relative;
  top: -128px;
  left: -44px;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footer__social-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__list {
  list-style-type: none;
}

.footer__list-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer__social-link {
}

.footer__social-icon {
  column-gap: 10px;
}

.footer__copyright {
}
