.header {
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-color: #fff;
  height: 100vh;
  max-height: 720px;
  min-height: 800px;
  color: #000;
  position: relative;
}

.header__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  margin-left: 80px;
}

.header__description {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-top: 28px;
  margin-left: 80px;
  max-width: 683px;
}

.header__image {
  width: 640px;
  height: 569px;
  position: absolute;
  right: 5px;
  top: 124px;
}

.header__title-accent {
  color: #2f80ed;
  font-style: italic;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  font-family: "Noto Serif", sans-serif;
  display: block;
}

.header__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__footer {
  margin: auto 0 40px;
  display: flex;
  justify-content: space-between;
}

.header__timetable {
  position: absolute;
  bottom: 40px;
  left: 80px;
}

.header__address {
  position: absolute;
  right: 80px;
  bottom: 40px;
}
