.reservation {
  height: 100vh;
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.reservation__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  padding-top: 100px;
  margin: 0px auto 80px;
}

.reservation__form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
